.carousel-container {

}

.carousel-slide {
  width: 100%;
  display: flex;
}

.carousel-slide img {
  height: 250px;
}

#imagem {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: center;
}